{% extends "base.html" %} {% block content %}
<h2 class="mt-4">Device List</h2>

<form method="get">
  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.device_type }}
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button type="submit" class="btn btn-primary">Filter</button>
      <a class="btn btn-danger" href="{% url 'cyber:device-list' %}">Remove filter</a>
    </div>
    <div>
      <a class="btn btn-primary" href="{% url 'cyber:device-create' %}">Add new device</a>
    </div>
  </div>

</form>

<ul class="mt-4">
  {% for device in devices %}
  <li>
    {{ device.name }} - {{ device.get_device_type_display }}
    <a href="{% url 'cyber:device-update' device.pk %}">Edit</a>
    <a href="{% url 'cyber:device-delete' device.pk %}">Delete</a>
    <a href="{% url 'cyber:reservation-list' %}?device_name={{ device.name }}&device_type=device_type">Reservations</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
