
{% extends "base.html" %}

{% block content %}
<h3>Reservation for {{ device }}</h3>
<form id="reservationForm" method="get">
  <div class="form-group">
    <label for="started_at">When you wanna play?</label>
    <input
      type="datetime-local"
      name="started_at"
      id="started_at"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="hours">How many hours?</label>
    <input
      type="number"
      min="1"
      max="24"
      name="hours"
      id="hours"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Search device</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

{% endblock %}

