
{% extends "base.html" %}
{% load tz %}
{% block content %}
<h2 class="mt-4">Reservation List</h2>

<form method="get">
  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.device_name }}
    </div>
    <div class="form-group col-md-3">
      {{ form.device_type }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Filter</button>
  <a href="{% url 'cyber:reservation-list' %}" class="btn btn-danger">Remove filter</a>
</form>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Device</th>
      <th scope="col">User</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Countdown</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for reservation in reservations %}
    <tr>
      <td>{{ reservation.code }}</td>
      <td>{{ reservation.device.name }}</td>
      <td>{{ reservation.user.username }}</td>
      {% timezone request.timezone %}
      <td>{{ reservation.start_time }}</td>
      <td>{{ reservation.end_time }}</td>
      <td class="countdown" data-start-time="{{ reservation.start_time|date:'Y-m-d H:i:s' }}" data-end-time="{{ reservation.end_time|date:'Y-m-d H:i:s' }}">
        <span class="time"></span>
      </td>
      <td>{{ reservation.created_at }}</td>
      {% endtimezone %}
      <td>
        <a
          href="{% url 'cyber:reservation-delete-admin' reservation.pk %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    let deviceNameSelect = document.getElementById("id_device_name");
    let deviceTypeSelect = document.getElementById("id_device_type");

    deviceTypeSelect.addEventListener("change", function() {
      if (this.value !== "device_type") {
        deviceNameSelect.value = "device_name";
      } else {
        deviceNameSelect.disabled = false;
      }
    });

    deviceNameSelect.addEventListener("change", function() {
      if (this.value !== "device_name") {
        deviceTypeSelect.value = "device_type";
      } else {
        deviceTypeSelect.disabled = false;
      }
    });
  });

  function updateCountdowns() {
    const countdowns = document.querySelectorAll('.countdown');
    countdowns.forEach(function(countdown) {
      const startDate = new Date(countdown.getAttribute('data-start-time')).getTime();
      const endDate = new Date(countdown.getAttribute('data-end-time')).getTime();
      const now = new Date().getTime();

      const distance = endDate - now;
      if (now >= startDate && now <= endDate) {
        const hours = Math.floor(distance / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        countdown.querySelector('.time').innerHTML = hours + "h " + minutes + "m " + seconds + "s";
      }
      
      if (now > endDate) {
        countdown.querySelector('.time').innerHTML = "Expired";
      } else if (now < startDate) {
        countdown.querySelector('.time').innerHTML = "Not started yet";
      }
    });
  }

  setInterval(updateCountdowns, 1000);
  updateCountdowns();

</script>
{% endblock %}
